

* {
  outline: none;
}
bo
.main {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  overflow-x: hidden;
  color: #67757c;
}
html {
  position: relative;
  min-height: 100%;
  background: #ffffff;
}

a,
button {
  outline: none!important;
  text-decoration: none!important;
  color: #99abb4;
  transition: all 0.2s ease 0s;
}
a.active,
button.active,
a:focus,
button:focus,
a:hover,
button:hover {
  color: #252525;
  outline: none!important;
  text-decoration: none!important;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.dataTables_info,
.dataTables_length {
  display: inline-block;
}
.dataTables_length {
  margin-top: 10px;
}
.dataTables_length select {
  background-color: transparent;
  background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  border: 0 none;
  padding-bottom: 5px;
  transition: background 0s ease-out 0s;
}
.dataTables_length select:focus {
  background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  outline: medium none;
  transition-duration: 0.3s;
}
.dataTables_filter {
  float: right;
  margin-top: 10px;
}
.dataTables_filter input {
  background-color: transparent;
  background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
  background-position: center bottom, center calc(99%);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  float: none;
  margin-left: 10px;
  transition: background 0s ease-out 0s;
}
.dataTables_filter input:focus {
  background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  outline: medium none;
  transition-duration: 0.3s;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
  background: transparent none repeat scroll 0 0;
}
table.dataTable thead .sorting_asc::after {
  content: "";
  cursor: pointer;
  font-family: fontawesome;
  margin-left: 10px;
}
table.dataTable thead .sorting_desc::after {
  content: "";
  cursor: pointer;
  font-family: fontawesome;
  margin-left: 10px;
}
table.dataTable thead .sorting::after {
  color: rgba(50, 50, 50, 0.5);
  content: "";
  cursor: pointer;
  font-family: fontawesome !important;
  margin-left: 10px;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  padding-top: 0.25em;
  text-align: right;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #67757c;
  cursor: pointer;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #1976d2;
  border: 1px solid #1976d2;
  color: #ffffff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #67757c;
  cursor: default;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: #1976d2;
  border: 1px solid #1976d2;
  color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: #67757c;
  outline: medium none;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

.tools{ 
display: none;
}
.showTools:hover .tools{
display : block;
}
